body{
    background-position:center;
background-image: url('bg2.png');
}
.heading{
    font-size:25px;
 width:100%;
 margin:0px;

}
#status, #number_of_objects{
font-size:20px;

}
canvas{
    box-shadow:10px 10px 10px whitesmoke;
    border-radius:10px;
    margin-top:30px;

}